.app-wrapper {
    display: grid;
    grid-template: "h h" 60px "n c" 1fr / 2fr 10fr;
    margin: 0 auto;
    width: 1200px;
}

.app-wrapper-content {
    grid-area: c;
    color: #000;
    background-color: #6eb3db;
}